@using UserManagementWithIdentiy.ViewModels
@model IEnumerable<UsersViewModel>

<h2>Users</h2>
<hr />
<a asp-action="AddUser" class="btn btn-primary mb-2">New User</a>
<table class="table table-bordered table-hover ">
    <thead class="bg-primary text-white">
        <tr>
            <th>Profile Picture</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                @if(user.ProfilePicture != null)
                {
                    <td><img src="data:image/*;base64,@Convert.ToBase64String(user.ProfilePicture)" class="rounded-circle" alt="User-image" style="height:50px;width:50px;object-fit:cover" /></td>
                }else{
                  <td><img src="~/imges/empty-profile-png.jpg" alt="Alternate Text" class="rounded-circle"style="height:50px;width:50px;object-fit:cover" /></td>
                }
                <td>@user.FirstName</td>
                   <td>@user.LastName</td>
                   <td>@user.UserName</td>
                   <td>@user.Email</td>
                   <td> @string.Join(" - ",user.RoleName)</td>
                   <td><a asp-action="ManageRole" asp-controller="Roles" asp-route-id="@user.id" class="btn btn-primary">Manage Roles</a></td>
            </tr>
        }
    </tbody>
</table>